#page-body .product-wrapper {
  margin-top: 50px;
}

.description {
  padding: 15px;
}
.product-wrapper .product-info {
  margin: 50px 20px;
  height: auto;
  align-items: center;
}

.product-wrapper .product-info .img-product-info {
  height: 17em;
  width: 100%;
  object-fit: cover;
}

.product-wrapper p {
  font-size: 0.9rem;
}

.modul-detail {
  /* width: 100%;
  overflow: hidden; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  word-break: keep-all;
}

.non-uang {
  height: 14.5em !important;
  width: 100%;
  object-fit: cover;
}

#kertas-rupiah .card {
  border-radius: 0px;
  margin-bottom: 2rem;
}

#kertas-rupiah .card .card-body {
  padding: 0;
}

/* Media Queries */
@media (min-width: 1199px) {
  #kertas-rupiah img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .pecahan-card .pecahan-content {
    padding: 1rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .product-info .description {
    margin-top: 1em;
  }
  .pecahan-card .pecahan-content {
    margin-top: 1rem !important;
    padding: 15px;
  }

  .pecahan-card .owl-carousel {
    width: 90vw !important;
  }

  .non-uang {
    height: 10em !important;
  }
}
